/* Estil per les etiquetes HTML */
body {
    background-image: url("/img/Fons.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: system-ui;
    height: 100vh;
    margin: 0 auto;
}

li {
    color: #fff;
}

i {
    background-clip: text;
    background-image: linear-gradient(110deg, #B301FF, #FF019A 60%);
    -webkit-background-clip: text;
    color: transparent;
    margin-right: 10px;
    margin-left: 10px;
}

h1 {
    background-clip: text;
    background-image: linear-gradient(110deg, #B301FF, #FF019A 60%);
    -webkit-background-clip: text;
    color: transparent;
}
/* --- */


/* Estil pels 2 contenidors principals */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/* --- */


/* Estil per als contenidors de LogIn/LogOut i selecció de Playlists/Songs */
.container-info, .playlist-songs {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
}

.log-in, .selected-song {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 50%;

}

.personal-info, .selected-playlist {
    display: flex;
    justify-content: flex-end;
    flex-basis: 50%;
    align-items: center;
}

.log-in p, .personal-info a {
    display: flex;
    align-items: center;
    background-clip: text;
    background-image: linear-gradient(110deg, #B301FF, #FF019A 60%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    text-decoration: none;
    height: 35px;
    font-size: 16px;
    margin: 20px;
}

.selected-song, .selected-playlist {
    margin-right: 20px;
    margin-left: 20px;
}

.add-song, .add-playlist {
    margin-left: 10px;
}
/* --- */


/* Estil per la Cover */
.track-art {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border-radius: 25%;
    margin-bottom: 20px;
}
/* --- */


/* Estil per a la barra de reproducció */
.audio-slider {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.current-time, .total-duration {
    background-clip: text;
    background-image: linear-gradient(110deg, #B301FF, #FF019A 60%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
}

.seek-slider {
    appearance: none;
    background-color: #FFF;
    border-radius: 10px;
    align-self: center;
    outline: none;
    width: 70%;
    height: 5px;
    cursor: pointer;
}

@-moz-document url-prefix() {

    input[type="range"]::-moz-range-thumb {
        width: 15px;
        height: 15px;
        background-image: linear-gradient(110deg, #B301FF, #FF019A 60%);
        border-radius: 50%;
        cursor: pointer;
    }
}
/* --- */


/* Estil per als butons */
.control-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.buttons{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.button-login {
    width: 50%;
    font-size: 16px;
    margin-bottom: 20px;
}

.login-button, .logout-button, select, .add-song, .add-playlist {
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/* --- */


/* Estil per als formularis */
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.label-input {
    width: 50%;
    place-items: center;
}

label {
    display: flex;
    font-size: 16px;
    font-weight: bold;
}

label p {
    background-clip: text;
    background-image: linear-gradient(110deg, #B301FF, #FF019A 60%);
    -webkit-background-clip: text;
    color: transparent;
}

.input-text {
    width: 97%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: #fff;
}

.input-file {
    width: 97%;
    background: none;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: #fff;
    font-size: 16px;
}

.submit-button {
    display: flex;
    margin: 30px;
    font-size: 16px;
}
/* --- */


/* Estil per al Sound Wave */
@keyframes quiet {
    25% { transform: scaleY(.6); }
    50% { transform: scaleY(.4); }
    75% { transform: scaleY(.8); }
}
  
@keyframes normal {
    25% { transform: scaleY(1); }
    50% { transform: scaleY(.4); }
    75% { transform: scaleY(.6); }
}

@keyframes loud {
    25% { transform: scaleY(1); }
    50% { transform: scaleY(.4); }
    75% { transform: scaleY(1.2); }
}
 
.boxContainer{
    display: flex;
    justify-content: space-between;
    height: 64px;
    --boxSize: 8px;
    --gutter: 4px;
    width: calc((var(--boxSize) + var(--gutter)) * 5);
}
  
.box{
    transform: scaleY(.4);
    height: 100%;
    width: var(--boxSize);;
    background-image: linear-gradient(110deg, #B301FF, #FF019A 60%);
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    border-radius: 8px;
}
  
.box1, .box3, .box5 { animation-name: quiet; }
.box2 { animation-name: normal; } 
.box4 { animation-name: loud; }

.hidden { display: none; }